
body {
    font-family: Verdana, Arial, helvetica, Tahoma, sans-serif;
    background-color: black;
}

header {
    background-color: black;
    color: white;
}

main {
    background-color: #141414;
    color: white;
}

aside {
    background-color: black;
}

body a:link {
    text-decoration: none;
    color: white;
}

body a:visited {
    text-decoration: none;
    color: white;
}

body a:hover {
    text-decoration: none;
    color: #808080;
}

nav a:hover {
    text-decoration: none;
    color: black;
}

footer {
    background-color: black;
    color: white;
}